/* COVERAGE MAP STYLES */
.page-template-template-stationslist .main {
	margin-top: 0;
	margin-bottom: 0; }

.page-template-template-stationslist .wpb_column.vc_column_container {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 85%;
    font-style: italic;
    font-weight: 700;
}

.page-template-template-stationslist .nsxt-map-container {
	margin: 50px auto 0;
	width: 1000px;
	font-family: Lato; }
	
@media (max-width: 1000px) {
    .page-template-template-stationslist .nsxt-map-container {
        display: none;
    }
}

.page-template-template-stationslist .nxst-map {
	display: block;
	position: relative;
	height: 638px;
	background-image: url('http://www.nexstar.tv/wp-content/uploads/2016/07/nxstmap-blank.jpg');
	background-repeat: no-repeat; }
	
.page-template-template-stationslist .nxst-map.marked {
    background-image: url('http://www.nexstar.tv/wp-content/uploads/2016/07/nxstmap-plotted.jpg');}

.page-template-template-stationslist .station {
	height: 10px;
	width: 10px;
	border: 1px solid #fff;
	background-color: #615346;
	position: absolute;
	border-radius: 50%;
	cursor: pointer;
	z-index: 50; }

.page-template-template-stationslist .station:hover { z-index: 75; }

.page-template-template-stationslist .station .market-info {
	display: none;
	background-color: #fff;
    width: 350px;
    padding: 10px;
    /*border: 2px solid #2380bb;*/
    box-shadow: 2px 2px 1px rgba(0,0,0,.5);
    position: relative;
	top: 4px;
	left: 4px;
	z-index: 100;
	border-radius: 6px;
	overflow: hidden; }

	.page-template-template-stationslist .station .market-info.e {
		left: auto;
		right: 345px; }
	
	.page-template-template-stationslist .station .market-info .dmarank {
		float: right;
	    font-size: 50px;
	    border-left: 2px solid rgba(161,144,105,.5);
	    padding-left: 8px;
	    color: rgba(150, 150, 150, 0.7);
	    line-height: 60px;
		position: relative; }
		
	.page-template-template-stationslist .station .market-info p.dmarank::before {
	    content: 'DMA';
	    font-size: 11px;
	    display: block;
	    line-height: 0px;
	    position: absolute;
	    top: 5px;
	    text-align: left; }
	
	.page-template-template-stationslist .station .market-info h2 {
		font-size: 18px;
		margin: 0 0 6px;
		line-height: 24px; }
	
	.page-template-template-stationslist .station .market-info p {
		margin: 0;
		font-size: 12px;
		color: #555555;
		line-height: 15px; }

.page-template-template-stationslist .station a { 
	color: #2380bb;
	text-decoration: none; }
	
.page-template-template-stationslist .station .affiliates {
			height: 20px;
			margin-top: 10px;
			text-align: center; }
		
		.page-template-template-stationslist .station .affiliates i {
		    height: 20px;
		    display: inline-block;
		    margin: 0 5px;
		    opacity: .4;
		    background-repeat: no-repeat; }

		.page-template-template-stationslist .station .affiliates i.IND {
			background-image: url('networks/ind-46x20.png');
		    width: 46px; }
		    		
		.page-template-template-stationslist .station .affiliates i.NBC {
			background-image: url('networks/nbc-20x20.png');
		    width: 20px; }
		    
		.page-template-template-stationslist .station .affiliates i.ABC {
			background-image: url('networks/abc-20x20.png');
		    width: 20px; }
		    
		.page-template-template-stationslist .station .affiliates i.FOX {
			background-image: url('networks/fox-45x20.png');
		    width: 45px; }
		    
		.page-template-template-stationslist .station .affiliates i.CBS {
			background-image: url('networks/cbs-20x20.png');
		    width: 20px; }
		    
		.page-template-template-stationslist .station .affiliates i.MyNetworkTV {
			background-image: url('networks/mynet-28x20.png'); 
			width: 28px; }
			
		.page-template-template-stationslist .station .affiliates i.Bounce {
			background-image: url('networks/bounce-70x20.png');
		    width: 70px; }
		    
		.page-template-template-stationslist .station .affiliates i.CW {
			background-image: url('networks/cw-48x20.png');
		    width: 48px; }
		    
		.page-template-template-stationslist .station .affiliates i.Telemundo {
			background-image: url('networks/telemundo-26x20.png');
			width: 26px; }

		.page-template-template-stationslist .station .affiliates i.EstrellaTV {
			background-image: url('networks/estrellatv-34x20.png');
			width: 34px; }

		.page-template-template-stationslist .station .affiliates i.GRIT {
			background-image: url('networks/grit-56x20.png');
			width: 56px; }

		.page-template-template-stationslist .station .affiliates i.LAFF {
			background-image: url('networks/laff-36x20.png');
			width: 36px; }

		.page-template-template-stationslist .station .affiliates i.ESCAPE {
			background-image: url('networks/escape-84x20.png');
			width: 84px; }			